# [Python]
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# [Gurobi]
gurobi.log

# [Xilinx/HLS]
*.log
*.jou
*.pb
*.str
*.tcl
!write_tcl.py
!script/**/*.tcl
!evaluation/tcl_scripts/**/*.tcl
output_dir/
cfile/
vitis_hls.log
vivado.log
vivado_hls.log
hls_output/
.Xil/

# [IDE/OS]
.vscode/
.idea/
.DS_Store
Thumbs.db

# [Others]
graph.png
*.swp
*.swo
onnx_files/
dummy_deit.onnx
build_*
tmp/

# test

test_*